<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap id="boardResultSet" type="Board">
		<result column="board_no" property="boardNo" />
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_content" property="boardContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<!-- 년월일 시분초로 출력 -->
		<result column="status" property="status"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select 
			   count(*)
		  from board
		 where status='Y'  	  		
	</select>

	<select id="selectBoardList" resultMap="boardResultSet">
	   select 
	          board_no
	        , board_title
	        , board_writer
	        , count
	        , to_char(create_date, 'YY-MM-DD') "create_date" 
	          <!-- to_char로 날짜 포맷 변환  후, 컬럼 별칭 부여 -->
	        , origin_name
	     from board
	    where status='Y'
		order
	       by board_no desc
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		insert
		  into board
		  (
			  board_no
	        , board_title
	        , board_writer
	        , board_content
	        , origin_name
	        , change_name
		  )
		  values
		  (
		  	  seq_bno.nextval
		  	, #{boardTitle}
		  	, #{boardWriter}
		  	, #{boardContent}
		  	, #{originName}
		  	, #{changeName}
		  )
	</insert>

	<update id="increaseCount" parameterType="_int">
	<!-- bno => int형 값이 넘어옴, 자바에서의 int형을 mybatis에서는 _int -->
	update 
	  	   board
	   set count = count+1
	 where status = 'Y'
	   and board_no = #{ bno } <!-- sql로부터 넘어온 건 변수명, 객체가 넘어오면 필드명 -->
	
	</update>	
	
	<select id="selectBoard" parameterType="_int"
			resultMap="boardResultSet">
		select
		 	  board_no <!-- pk는 습관적으로 조회해오기 , 가져오지 않으면 못넘김! -->
	        , board_title
	        , board_writer
	        , board_content
	        , origin_name
	        , change_name
	       <!--, count 상세페이지에 X --> 
	        , to_char(create_date, 'YYYY-MM-DD') "create_date" 	  
	     from board
	    where status='Y'
	      and board_no = #{bno}

	</select>
	
	<update id="deleteBoard" parameterType="_int">
		update
		       board
		   set status = 'N'
		 where board_no = #{bno}
	</update>
	
	<update id="updateBoard" parameterType="Board">
		update
		       board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		   	 , origin_name = #{originName}
		   	 , change_name = #{changeName}
		 where board_no = #{boardNo}
	</update>


	
	
</mapper>


